<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>

    <main>
      <% if (typeof flash !== "undefined" && flash.notice && flash.notice.length > 0) { %>
        <div class="flash-wrapper">
          <div class="flash-message">
            <button class="close-flash" onclick="this.parentElement.style.display='none';">&times;</button>
            <ul>
              <% flash.notice.forEach(function(msg) { %>
                <li><%= msg %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      <% } %>
      
      

      <%- body %>
    </main>

    <%- include('../partials/footer') %>
  </div>
</body>
</html>
